body {
  background: #fafafa;

}

.score {
width: 500px;
height:200px;
margin-top: 10px;
margin-left: 1000px;
font-size: 30px;
font-family: 'Press Start 2P', cursive;
text-align: center;
color: #666;
}
.score ::before {
  content: 'PLACAR';
  font-family: 'Press Start 2P', cursive
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(dino.png);
  width: 60px;
  height: 60px;

}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);

}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: 'Press Start 2P', cursive
}

@keyframes slideright {
  from {
    background-position: 70000%;

  }
  to {
    background-position: 0%;

  }

}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;

}

